html {
  scroll-behavior: smooth;
  font-family: 'Inter', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
}

h1, h2 {
  margin: 0;
}

h2 {
  text-align: center;
  margin: 3rem 0;
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 2px;
}

section {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 0px 100px;
}

#top {
  padding: 100px;
}

@media (max-width: 1024px) {
  section, #top {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 480px) {
  section, #top {
    padding-left: 20px;
    padding-right: 20px;
  }

  section {
    margin-top: 4rem;
  }

  #top {
    margin-top: 0;
    padding-top: 20px;
  }

  h2 {
    margin: 2rem 0;
    font-size: 2rem;
  }
}

